<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>rBuild</title>
         <!--Icon-->
    <link rel="icon" href="/images/icon3.png" type="image/x-icon" />
        <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="/style.css"/>    
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
     
    <script>
        $(function(){
          $("#nav-placeholder").load("../common/nav.html");
        });
    </script>
    <header class="all_header_navbar-fixed-top" id="nav-placeholder"></header>                                                                                                                         
    <!--End Of Navigation Area-->
    <!--Content-->
    <section class="detail-page">
    <div class="btn" >
        <a href="../construction.html"><button class="req-btn">RAISE A REQUEST</button></a>
    </div>
    <br/>
    <div class="titles">
        <h2>Budget Package for House Construction</h2>
        <h4>Cost: Rs 1465 per sqft</h4>
        <h3>SPECIFICATION</h3>
    </div>
    <div class="content">
        <div>
            <b>Design & Drawings</b><p>2D Floor Plan<br/>Basic Elevation<br/>Structural Design</p>
        </div>    
        <div>
            <b>Structure</b><p>Steel - Sunvik, Meenakshi, Kamdhenu or equivalent
            <br/>Aggregates - 20mm & 40mm
            <br/>Blocks - Standard Solid Concrete blocks. 6 inch 4 inch
            <br/>Cement - Dalmia, Coromandel or Zuari or equivalent
            <br/>M sand for Blockwork & Plastering
            <br/>RCC Design Mix - As per the structural designer's recommendation
            <br/>Dr.Fixit Waterproofing
            <br/>Ceiling Height - 10 feet (Finished Floor level to Finished Floor level) </p>
        </div>    
        <div>
            <b>Kitchen</b><p> Ceramic Wall Tiles, 2 feet above kitchen slab - Upto Rs.35 per Sqft
                <br/>Main Sink Faucet - Upto Rs.1300
                <br/>Any Other Faucet & Accessories - ISI Marked
                <br/>Kitchen Sink - Stainless Steel Single Sink worth Rs.3000
                <br/>Kitchen Granite upto 38 mm thick - Upto Rs.80 per Sqft </p>
        </div>    
        <div>
            <b>Kitchen</b><p> Ceramic Wall Tiles, 2 feet above kitchen slab - Upto Rs.35 per Sqft
                <br/>Main Sink Faucet - Upto Rs.1300
                <br/>Any Other Faucet & Accessories - ISI Marked
                <br/>Kitchen Sink - Stainless Steel Single Sink worth Rs.3000
                <br/>Kitchen Granite upto 38 mm thick - Upto Rs.80 per Sqft </p>
        </div>
        <div>
            <b>Bathroom</b><p>  Bathroom Ceramic Wall Tiles with 7 feet height - Upto Rs.35 per Sqft 
                <br/>Sanitary ware & CP Fittings - Upto Rs.30000 per 1000 sqft of construction.
                <br/>CPVC Pipe - Astral or equivalent
                <br/>Bathroom Accessories - EWC, Health Faucet, Wash Basin with accessories, 2 in 1 wall mixer, Overhead Shower.
                <br/>Bathroom doors - Waterproof flush doors  </p>
        </div> 
        <div>
            <b>Painting</b><p> Interior Painting - JK Putty + Tractor Emulsion or equivalent<br/>
                Exterior Painting - Asian Primer + Ace Exterior Emulsion Paint or equivalent </p>
        </div>
        <div>
            <b>Floorimg</b>
            <p>
                Living and Dining Flooring - Tiles of value upto Rs.40 per sqft
           <br/>Rooms and Kitchen Flooring - Tiles or Granite or Wooden flooring upto Rs.40 per sqft
           <br/>    Balcony and Open Areas Flooring - Anti-skid tiles of value upto Rs.35 per sqft
           <br/>    Staircase Flooring - Sadarahalli Granite or Marble of value upto ₹ 70 per sqft
           <br/>    Parking Tiles - Anti-skid tiles of value upto ₹40 per sqft 
            </p>
        </div>     
    </div>
    </section>
     <!-- Footer Area -->
     <footer id=footer-area>
        <div class="footer" id="foot-placeholder">  </div>
     </footer>    
        <!--End Footer Area -->
    <script>
        $(function(){
            $("#foot-placeholder").load("../common/footer.html");
        });
    </script>
</body>                                                                                                     
    <!--End Footer Area -->